.confbtn {
    width: auto;
    height: auto;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 22px;
}
.btn_actived{
    border: 2px solid #F36223;
}