.buttonCart {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    color: #FFFFFF;
    width: 100%;
    height: 64px;    
    border-style: none !important;
    background: #F36223;
    border-radius: 4px;
    cursor: pointer;    
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.inCart{
    background: #888888 !important;
}
.costDostavka {
    font-weight: bold;
}