iframe {
    width: 420px;
    height: 300px;
}

body {
    cursor: default;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* Dark gray */

    color: #888888;

    background-color: #F0F0F0;
}

div.wrapper {
    width: 420px;
    height: 280px;
    display: table-cell;

    vertical-align: middle;
    text-align: center;
}

