.review-button {
    width: 177px;
    height: 39px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.hidden {
    display: none;
    background-color: none !important;
}

.review-form {
    position: relative;
    width: 880px;
    padding-left: 170px;
    display: flex;
    flex-direction: column;
}


.review-autor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 30px;
    width: 770px;
}

.review-textarea {
    margin-bottom: 30px;
    width: 727px;
    height: 190px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
    color: #888888;
    resize: none;

}



.review-textarea::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.mark {
    width: 175px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
}

.mark:hover,
:focus,
.surname:hover,
:focus,
.review-textarea:hover,
:focus {
    outline: none;
    border: 1px solid #000000;
}

.surname {
    width: 495px;
    border: 1px solid #888888;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 20px;
}

@media (max-width : 1499px) {
    .review-form {
        padding-left: 0px;
    }

    .review-autor {
        width: 637px;
    }

    .review-textarea {
        width: 594px;
    }

    .error {
        width: 360px;
    }

    .errorMark {
        left: 354px;
    }

}