
.cartIcon {
    margin-right: 20px;
    width: 36px;
    position: relative;
}

.cartCount {
    position: absolute;
    top: -5px;
    right: -10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    box-sizing: border-box;
    min-height: 15px;
    min-width: 15px;
    text-align: center;
    padding: 3px 5px;
    height: 20px;
    background: #F36223;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.cartCountNull {
    display: none;
}