.footer {    
    background: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}

.copyright {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-text {
    color: #f52;
}

.link,
.up {
    color: #008CF0;
    text-decoration: none;
    border: none;
}