.logolink {
    text-decoration: none;
    color: #000000;
}

.logolink:focus {
    border: none !important;
}

.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fffffff5;
    margin-bottom: 27px;
    padding-top: 19px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    z-index: 1;
    border-bottom: 1px solid #010541;
}

.logo {
    color: #FF5722;
}

.logoImg {
    display: flex;
    gap: 7px;
    align-items: flex-start;
}

.logotip {
    width: 36px;
}



@media (max-width: 1499px) {
    .header {
        margin-left: 15px;
    }
}