.sidebar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 420px;
    height: 957px;
}

.important {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* Inside auto layout */
}

.cost-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.cost_decor {
    text-decoration-line: line-through;
}

.cost__old {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    /* Dark gray */
    color: #888888;
}

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}

.cost__new {
    width: 132px;
    height: 39px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.svg-img:hover {

    cursor: pointer;
}

.svg-img:hover .heart-img {
    fill: #DA4A0C;
    cursor: pointer;
}

.svg-img:active .heart-img {
    fill: #A93A09;
}
.date-self {
    margin-bottom: 10px;
}

.date-cura {
    margin-bottom: 35px;
}

.button {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;

    color: #FFFFFF;
    width: 100%;
    height: 64px;
    /* Carrot */
    border-style: none !important;
    background: #F36223;
    border-radius: 4px;
    cursor: pointer;
    /* Inside auto layout */
}

.button:hover {
    background: #DA4A0C;
}

.button:active {
    background: #A93A09;

}



.reklama__frame {
    width: 420px;
    height: 300px;
    border-color: #ccc;
    border-width: 1px;
    border-style: dashed;
}

.reklama__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.reklama {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;

    background-color: #F36223;
    border-radius: 500px;
    flex: none;
    color: white;
}

.hidden {
    display: none
}
