

.cart-count {
    display: none;
}

.errorMark {
    position: absolute;
    top: 116px;
    left: 656px;
    padding: 10px 20px;
    width: 244px;
    height: 31px;
    background: #DA4A0C;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.error {
    position: absolute;
    top: 116px;
    padding: 10px 20px;
    width: 495px;
    height: 31px;
    background: #DA4A0C;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}

.cart-icon {
    width: 36px;
}

.logotip {
    width: 36px;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    box-sizing: border-box;
    min-height: 15px;
    min-width: 15px;
    text-align: center;
    padding: 3px 5px;
    height: 20px;
    background: #F36223;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.cart-icon {
    position: relative;


}

.foto-tovar {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.img-container {
    margin: 0;
}

.img-box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 387px;

}




.copyright {
    margin-top: 30px;
    margin-bottom: 30px;
}

.logo-text {
    color: #f52;
}

.footer {
    background: #F2F2F2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

}

.shapka {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #888888;
}

.sravnenie {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #888888;
    border-collapse: collapse;
    border-spacing: 30px;
}

.td {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    padding: 10px;
    padding-left: 20px;

}

.tr:hover {
    background: #F2F2F2;
}

.user-review-info {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.star {
    width: 30px;
    height: 30px;
}

.star-bord::after {
    content: "";
    display: inline-block;
    background-image: url("./star-yellow.png");
    background-position: center center;
    width: 30px;
    height: 30px;

    background-size: 100%;
    background-repeat: no-repeat;

}

.star-bord:hover::after {
    content: "";
    display: inline-block;
    background-image: url("./star-yellow.png"), url("./star-gray.png");
    background-position: center center, center center;
    width: 35px;
    height: 35px;

    background-size: 80%, 100%;
    background-repeat: no-repeat, no-repeat;
}
.reviews-list {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
}

.reviews-text {
    display: flex;
    padding: 0px;
    gap: 10px;
    max-width: 155px;
}

.reviews-zagolovok {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 880px;
}

.reviews-title {
    margin: 0px;
    width: 98px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.reviews-count {
    width: 47px;
    height: 29px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #888888;
}



.reviews {

    width: 880px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

}

.line {
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    /* Dark gray */
    border: 1px dashed #888888;
}

.button {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;

    color: #FFFFFF;
    width: 100%;
    height: 64px;
    /* Carrot */
    border-style: none;
    background: #F36223;
    border-radius: 4px;
    cursor: pointer;
    /* Inside auto layout */
}

.button:hover {
    background: #DA4A0C;
}

.button:active {
    background: #A93A09;

}

.svg-img:hover {

    cursor: pointer;
}

.svg-img:hover .heart-img {
    fill: #DA4A0C;
    cursor: pointer;
}

.svg-img:active .heart-img {
    fill: #A93A09;
}







.button_cart {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.button_review {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 177px !important;
    height: 39px !important;
    padding: 7px 20px;
    color: #FFFFFF;
    width: 100%;
    height: 64px;
    /* Carrot */
    border-style: none;
    background: #F36223;
    border-radius: 4px;
    cursor: pointer;

}

.button_cart::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("./vector.svg");
    background-repeat: no-repeat;
    background-position: center center;

}


.product-info__memory {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 298px;
    height: 39px;
    left: 0px;
    top: 178px;
}

.product-info__memory p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* Black */
    color: #000000;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 20px;
    gap: 10px;
    width: 92px;
    height: 39px;
    /* Dark gray */
    border: 1px solid #888888;
    border-radius: 4px;
}

/* HIDE RADIO */
.product-info__memory [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.product-info__memory [type=radio]+p {
    cursor: pointer;
}

.product-info__memory [type=radio]:checked+p {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    width: 92px;
    height: 39px;
    /* Carrot */
    border: 2px solid #F36223;
    border-radius: 4px;
}

.product-info__memory [type=radio]:hover+p {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    gap: 10px;
    width: 92px;
    height: 39px;
    /* Light gray */
    background: #F2F2F2;
    /* Dark gray */
    border: 1px solid #888888;
    border-radius: 4px;
}


.product-info__color-container {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 530px;
    height: 80px;
    left: 0px;
    top: 34px;

}

/* HIDE RADIO */
.product-info__color-container [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

}

/* IMAGE STYLES */
.product-info__color-container [type=radio]+p {
    cursor: pointer;

}

/* CHECKED STYLES */
.product-info__color-container [type=radio]:checked+p {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 80px;
    height: 80px;
    /* Carrot */
    border: 2px solid #F36223;
    border-radius: 4px;
}

.product-info__color-container [type=radio]:hover+p {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 80px;
    height: 80px;
    /* Light gray */
    background: #F2F2F2;
    /* Dark gray */
    border: 1px solid #888888;
    border-radius: 4px;

}

.product-info__color-container [type=radio]:active+p,
.product-info__memory [type=radio]:active+p {

    border: 2px solid #A93A09;
}

.product-info__color-button {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 80px;
    height: 80px;
    /* Dark gray */
    border: 1px solid #888888;
    border-radius: 4px;
}

.sale {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    width: 47px;

    background-color: #F36223;
    border-radius: 500px;
    flex: none;
    color: white;
}

.reklama__frame {
    width: 420px;
    height: 300px;
    border-color: #ccc;
    border-width: 1px;
    border-style: dashed;
}

.reklama__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.reklama {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.cost-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
}



.cost_decor {
    text-decoration-line: line-through;
}

.cost__old {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    /* Dark gray */
    color: #888888;
}

.cost__dostavka {

    font-weight: bold;
}

.date-self {
    margin-bottom: 10px;
}

.date-cura {
    margin-bottom: 35px;
}

.cost__new {
    width: 132px;
    height: 39px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cost__old {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 123px;
    height: 24px;
}

.important {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    width: 420px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    /* Inside auto layout */
}

.cost {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

}

.sidebar {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 420px;
    height: 957px;
}

.product-description {
    min-width: 514px;


}

.haracteristic-box {
    display: flex;
    padding: 0px;
    gap: 100px;
    margin-bottom: 61px;
}

.product-info__option {
    list-style: none;
    /* Убираем исходные маркеры */
    background: url(./Marker.png) no-repeat 0 4px;
    /* Параметры фона */
    background-size: 10px;
    padding-left: 20px;

}

.product-info__color-icon {
    width: 30.93px;
    height: 60px;
}

.h3-index {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}





.main-title {
    margin-top: 8px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.crumbs {
    display: flex;
    gap: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #008CF0;
    text-decoration: none;
    margin-left: 50px;

}


.header {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #fffffff5;
    margin-bottom: 27px;
    padding-top: 19px;
    margin-right: 50px;
    margin-left: 50px;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    z-index: 1;
    border-bottom: 1px solid #010541;
}

.logo {
    color: #FF5722;
}

.logo-img {
    display: flex;
    gap: 7px;
    align-items: flex-start;
}

body {
    margin-top: 0;
    margin: 0;
}

.body {

    font-family: "Inter";
    font-style: normal;
    font-size: 18px;
    max-width: 1500px;
    cursor: default;
    min-width: 990px;
    margin: 0 auto;


}



.link,
.up {
    color: #008CF0;
    text-decoration: none;
    border: none;
}


.link:hover,
.up:hover {
    color: #F36223;
}

.link:active,
.up:active {
    color: #A93A09;
}

.product-info__text {
    margin-block-start: 0px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px
}

.product-info__list {
    margin: 0px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}




.main {
    margin-left: 50px;
    margin-right: 50px;


}

.copyright {
    margin-left: 50px;

}

.up {
    margin-right: 50px;
    color: #008CF0;
    text-decoration: none;
}

@media (max-width: 1499px) {

   
   

    .img-box {
        height: 272px;
    }

    .header,
    .main,
    .crumbs,
    .copyright {
        margin-left: 15px;
        margin-right: 15px;
    }

    .sidebar,
    .important,
    .reklama__frame {
        width: 360px;
    }



    .haracteristic-box {
        gap: 40px;
    }

    .tablica {
        display: none;
    }

    .user-photo {
        width: 100px;
        height: 100px;
    }

    .star-bord::after {
        width: 20px;
        height: 20px;
    }

    .star-bord:hover::after {
        width: 20px;
        height: 20px;
    }
}
