.btn {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #888888;
    background-color: white;
    cursor: pointer;

}

.btn:hover {
    background-color: #e2dede;
}

.btn img {
    height: 60px;
}

.btn_actived {
    border: 2px solid #F36223 !important;
}